.CodeMirror .cm-tab-a::before,
.CodeMirror .cm-tab-b::before {
  content: "→";
  position: absolute;
  opacity: 0.3;
}

/* Codemirror 5 */
.CodeMirror-line > span:last-of-type::after,
/* Codemirror 6 renders a <br> at empty lines.
   Make sure that the ¬ is rendered before the <br>.
   https://stackoverflow.com/a/53173276/7410886 */
.cm-line:not(:has(br))::after {
  content: "¬";
  opacity: 0.3;
}
.cm-line:has(br)::before {
  content: "¬";
  position: absolute;
  opacity: 0.3;
}

.CodeMirror .cm-space-a::before,
.CodeMirror .cm-space-b::before {
  content: "·";
  position: absolute;
  opacity: 0.3;
}
