.CodeMirror .cm-tab::before {
  content: "→";
}
.CodeMirror-line > span::after {
  content: "¬";
}
.CodeMirror .cm-whitespace-a::before,
.CodeMirror .cm-whitespace-b::before {
  content: "·";
  position: absolute;
}
