.CodeMirror .cm-tab-a::before,
.CodeMirror .cm-tab-b::before {
  content: "→";
  position: absolute;
  opacity: 0.3;
}

.CodeMirror-line > span::after,
.cm-line::after {
  content: "¬";
  opacity: 0.3;
}

.CodeMirror .cm-space-a::before,
.CodeMirror .cm-space-b::before {
  content: "·";
  position: absolute;
  opacity: 0.3;
}
